main {
    display: flex;
    gap: 1.5rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.welcome {
    padding: 0;
    margin: 0 0.5rem;
    line-height: 1.5rem;
}

h1 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

h2 {
    margin: 0 0 0.5rem 0;
}

.notes-ul {
    margin: 0;
    padding: 0 0 0 1rem;
}

.note-li {
    margin: 0 0 0.3rem 0;
}

.note-li::marker {
    content: '- ';
}

.latest-date {
    margin: 0 0 0 0.5em;
    font-size: 0.75em;
}

.artwork {
    margin: 0 0 0 0.5rem;
    padding: 0;
    border-radius: 1rem;
}

.post-text {
    margin: 0 0 1rem 0.5rem;
    padding: 0;
    max-width: 27rem;
}

.post-image {
    border-radius: 1rem;
}

@media screen and (max-width: 1080px) {
    main {
        flex-wrap: wrap;
    }
    .artwork {
        height: auto;
        max-width: 97%;
    }
}
