main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.welcome {
    padding: 0;
    margin: 0 0.5rem;
}

h2 {
    margin: 0 0 0.5rem 0;
}

.notes-ul {
    padding: 0 0 0 1.5rem;
}

.latest-date {
    margin: 0 0 0 0.5em;
    font-size: 0.75em;
}

.artwork {
    margin: 0 0 0 1rem;
    padding: 0;
    border-radius: 1rem;
}

.post-text {
    margin: 0 0 1rem 1rem;
    padding: 0;
}
