<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="pinterest" content="nopin" />
        <link rel="stylesheet" href="/global.css" />
        <link rel="stylesheet" href="/{{ name }}/{{ name }}.css" />
        <script src="/global.js" defer></script>
        <script src="/{{ name }}/{{ name }}.js" defer></script>
        {% if env.isProduction %}
        <script src="https://ninko.pythonanywhere.com/{{ name }}/neostat.js" defer></script>
        {% endif %}
        <title>†忍狐†</title>
    </head>
    <body>
        <nav>
            <h1 class="logo">†忍狐のホームページ†</h1>
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-a" href="/">Top</a></li>
                <li class="nav-li"><a class="nav-a" href="/about/">About</a></li>
                <li class="nav-li"><a class="nav-a" href="/gallery/">Gallery</a></li>
                <li class="nav-li"><a class="nav-a" href="/blog/">Blog</a></li>
            </ul>
        </nav>

        <main>{{ content }}</main>

        <footer>
            <p class="footer-p">Version: {{ pkg.version }}</p>
            <p class="footer-p">Last Modified: {% now %}</p>
            <p class="footer-p">© 2025 Ninko. All rights reserved.</p>
        </footer>
    </body>
</html>
