main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.post-ul {
    margin: 0 0 1rem 0;
    padding: 0 0 0 1rem;
}

.post-li::marker {
    content: '> ';
}

.post-date {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.post-text {
    margin: 0;
}
