main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: flex-start;
}

section {
    padding-bottom: 1rem;
    min-width: 16rem;
}

h1 {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
}

table {
    padding-left: 0.75rem;
}

th {
    text-align: left;
    padding: 0 1rem 0 0;
}

.link-ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    padding: 0 0 0 2rem;
}
