main {
    display: flex;
    gap: 1.5rem;
}

section {
    min-width: 16rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 26rem;
}

h1 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

h2 {
    margin: 0 0 0.5rem 0;
}

table {
    padding-left: 0.5rem;
    border-spacing: 0 0.2rem;
}

th {
    text-align: left;
    padding: 0 1rem 0 0;
    font-weight: normal;
}

th::after {
    content: ':';
}

.link-ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    padding: 0 0 0 1.2rem;
}

.link-li::marker {
    content: '- ';
}

.artwork {
    margin: 0 0 0 0.5rem;
    padding: 0;
    border-radius: 1rem;
}

@media screen and (max-width: 1080px) {
    main {
        flex-wrap: wrap;
    }
    .artwork {
        height: auto;
        max-width: 97%;
    }
}
