img {
    border-radius: 1rem;
    border: 0.01px solid rgb(204, 196, 162, 0.3);
    cursor: pointer;
}

.image-ul {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.image-li::marker {
    content: none;
}

.image-li {
    line-height: 0;
    -webkit-tap-highlight-color: transparent;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    background: url('/img/hemp.webp');
}

.modal-img {
    margin-top: 0.5rem;
    object-fit: contain;
    max-width: calc(100% - 0.5rem);
    max-height: calc(100% - 1rem);
}

th {
    width: 4rem;
    text-align: left;
}

.hidden {
    display: none;
}

table {
    min-width: 20rem;
    margin: 0.5rem 0.25rem;
    padding: 0.75rem;
    border-radius: 1rem;
    background: rgb(255, 255, 255, 0.8);
    border: 0.01px solid rgb(204, 196, 162, 0.3);
}
