body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    color: #4f4f2f;
    background: url('/img/hemp.webp');
}

@media screen and (min-width: 825px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav,
    main {
        width: 50%;
    }
}

a,
a:link {
    color: #223a70;
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

nav {
    position: relative;
    border-bottom: 0.01rem solid #ccc4a2;
    padding: 1rem;
    background: rgb(38, 37, 29, 0.8);
}

.logo {
    color: #ccc4a2;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    padding: 0;
}

.nav-ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 0;
    padding: 0 0.5rem;
}

.nav-li::marker {
    content: none;
}

.nav-a,
.nav-a:link {
    color: #ccc4a2;
    text-decoration: none;
}

nav::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ccc4a2;
    position: absolute;
    bottom: 0.3rem;
    left: 0;
}

main {
    padding: 1rem;
    background: rgb(255, 255, 255, 0.8);
    min-height: 70vh;
    border-bottom: 0.01rem solid #ccc4a2;
}

footer {
    padding: 0.5rem;
    text-align: center;
}

.footer-p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
}
