body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    color: #4f4f2f;
    background: url('/img/hemp.webp');
}

a,
a:link {
    color: #223a70;
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

nav {
    border-bottom: 0.01rem solid #ccc4a2;
    padding: 0.5rem 0 0.3rem 0;
    background: rgb(38, 37, 29, 0.8);
}

.nav-ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0 0.5rem;
}

.nav-li::marker {
    content: none;
}

.nav-a,
.nav-a:link {
    color: #ccc4a2;
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: 1px solid #ccc4a2;
    margin: 0.2rem 0 0 0;
}

main {
    padding: 1rem;
    background: rgb(255, 255, 255, 0.8);
}

footer {
    border-top: 0.01rem solid #ccc4a2;
    padding: 0.5rem;
}

.footer-p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
}
