body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    color: #44422e;
    background: url('/img/hemp.webp');
}

a,
a:link {
    color: #223a70;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.nav-a,
.nav-a:link {
    color: #ccc4a2;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

nav {
    display: flex;
    border-bottom: 0.01rem solid #ccc4a2;
    padding: 0.5rem;
    background-color: #29281f;
}

.nav-ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-li::marker {
    content: none;
}

main {
    padding: 1rem 0.5rem;
    background: rgb(255, 255, 255, 0.8);
}

footer {
    border-top: 0.01rem solid #ccc4a2;
    padding: 0.5rem;
}

.footer-p {
    margin: 0.2rem 0;
    font-size: 0.9rem;
}
